body{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
h1{
font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 80px;
line-height: 10px;
}
h3{
width: 309px;
height: 48px;
left: 138px;
top: 358px;

font-family: Roboto;
font-size: 16px;
line-height: 24px;
color: #3E3E3E;
}
.name-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
 }
 section{
     height: 613px;
     padding-bottom: 150px;
 }
 .link-button{
    text-decoration: none;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
 }
 .para{
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
 }
 h2{
     font-size: 40px;
 }
 .container{
     width: auto;
     height: 800px;
     margin: auto;
     background-color: #f2f2f2;
     overflow: auto;
     margin-top: 5%;
 }
 .gallery{
     margin: 25px;
     margin-top: 20%;
     float: left;
     width: 370px;
     height: 374px;
     left: 535px;
     top: 1454px;
     border-radius: 19.7436px;
     background-color: #FFFFFF;
 }
 .gallery img{
     width: 100%;
     height: auto;
     border-radius: 2%;
 }
 .desc{
     padding: 15px;
     text-align: center;
 }
 .name-light{
    color: orangered;
    margin-left: 25%;
    margin: auto;
 }